/frontend/node_modules 
/venv 
/.vscode
backend/.env
/frontend/tests
/.idea
backend/.idea
backend/database
backend/app/__pycache__
backend/app/__pycache__/
backend/app/__pycache__/models.cpython-312.pyc
