<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Vehículos - Editar</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../static/images/favicon.ico" sizes="16x16" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <!-- Custom CSS -->
    <link href="../static/css/styles.css" rel="stylesheet">

</head>
<body>

    <div class="top-bar">
        <h1 style="background-color: #1f0322; color: #f1dede; position: relative; margin-left: -40px; margin-top: -45px; padding: 50px;">Mis Vehículos - Editar</h1>
        <div class="dark-section"></div>
        <div class="green-section"></div>
    </div>

    <div class="main-content">  
            <!-- Modal de Vehiculo -->
            <div class="general-container" id="vehicleForm">
                <button type="button" class="back-button" id="backTo">
                    <i class="bi bi-arrow-left-circle-fill" style="font-size: 1.5rem;"></i>
                </button>
                <h2>     Vehículos     </h2>
                <div class="d-grid gap-3 mt-4">
                    <button id="showAddVehicleBtn" class="button">Añadir Vehiculo</button>
                    <button id="showEditVehicleBtn" class="button">Editar Vehiculo</button>    
                </div>
            </div>

            <!-- Añadir Vehiculo (inicialmente oculto) -->
            <div class="general-container" id="addVehicleForm">
                <button type="button" class="back-button" id="backTobackToVehicleOptionsFromAdd">
                    <i class="bi bi-arrow-left-circle-fill" style="font-size: 1.5rem;"></i>
                </button>
                <h2>     Añadir Vehiculo     </h2>
                <form id="addVehicle">
                    Formatos válidos por país:
                    <ul>
                        <li><strong>Argentina:</strong> AAA000 | AA000AA</li>
                        <li><strong>Brasil:</strong> AAA0000 | AAA0A00</li>
                        <li><strong>Paraguay:</strong> AAAA000 | AAAA000</li>
                        <li><strong>Uruguay:</strong> AAA0000 | AAA0000</li>
                        <li><strong>Chile:</strong> AA0000 | AAAA00</li>
                        <li><strong>Bolivia:</strong> AAA000 | AA00000</li>
                        <li><strong>Venezuela:</strong> AA000AA | AAA00A</li>
                        <li><strong>Colombia:</strong> AAA000 | AAA00A</li>
                    </ul>
                                      
                    <div class="input-group">
                        <label for="username">Patente</label>
                        <input type="text" id="patent" name="patent" required>
                    </div>                    
                    <div class="input-group">
                        <label for="brand">Marca</label>
                        <select id="brand" name="brand" required>
                            <option value="">Seleccione una marca</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label for="model">Modelo</label>
                        <select id="model" name="model" required disabled>
                            <option value="">Seleccione un modelo</option>
                        </select>
                    </div>
                    <button type="submit" class="button">Añadir</button>
                    <div id="registerMessage" class="message"></div>
                </form>
            </div>

            <!-- Editar Vehiculo (inicialmente oculto) -->
            <div class="general-container" id="editVehicleForm">
                <button type="button" class="back-button" id="backTobackToVehicleOptionsFromEdit">
                    <i class="bi bi-arrow-left-circle-fill" style="font-size: 1.5rem;"></i>
                </button>
                <h2>     Editar Vehiculo     </h2>
                <form id="registerAdminForm" action="/register" method="post">
                    <button type="submit" class="button admin-button">Guardar</button>
                    <div id="adminRegisterMessage" class="message"></div>
                </form>
             
        </div>
    <script src="../static/js/edicionvehiculo.js"></script>
</body>
</html>