<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Datos - Editar</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../static/images/favicon.ico" sizes="16x16" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/styles.css" rel="stylesheet">

</head>
<body>

    <div class="top-bar">
        <h1 style="background-color: #1f0322; color: #f1dede; position: relative; margin-left: -40px; margin-top: -45px; padding: 50px;">Mis Datos - Editar</h1>
        <div class="dark-section"></div>
        <div class="green-section"></div>
    </div>

    <div class="main-content">    
        <div class="general-container">
        <h1 style="color: rgb(0, 0, 0);">Mis Datos - Editar</h1>
        <ul style="color: black; list-style-type: none; padding-left: 0;">
            <form id="editUserForm" action="guardar_datos" method="post">
                <div class="input-group">
                    <div class="password-field-container">
                        <label for="registerName">Nombre Completo</label>
                        <input type="text" id="registerName" name="username" class="form-control">
                    </div>
                    <div class="password-field-container">
                        <label for="registerName">Email</label>
                        <input type="text" id="registerEmail" name="email" class="form-control">
                    </div>
                    <div class="password-field-container">
                        <label for="registerName">Vehiculo Principal</label>
                        <input type="text" id="registerVP" name="VP" class="form-control">
                    </div>
                    <div class="password-field-container">
                        <label for="registerName">Vehiculo Secundario</label>
                        <input type="text" id="registerVP2" name="VP2" class="form-control">
                    </div>
                </div>
                <input type="hidden" id="nombreAnterior" name="nombre_anterior">
                <!-- Otros campos... -->
                <div class="d-flex justify-content-center" style="gap: 10%;">
                    <button type="submit" class="btn btn-success mt-3" style="background-color: #45a049;">Guardar</button>
                    <button type="button" class="btn btn-success mt-3" style="background-color: #45a049;" onclick="location.href='edicionvehiculo.html';">
                    Editar Vehiculo/s
                    </button>
                </div>
                
            </form>
        </ul>
    </div>
    </div>


        </ul>
    </div>
<script src="../static/js/ediciondatos.js"></script>
</body>
</html>