<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis Datos</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../static/images/favicon.ico" sizes="16x16" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  <!-- Custom CSS -->
  <link href="../static/css/styles.css" rel="stylesheet">

</head>
<body>

  <div class="top-bar">
    <h1 style="background-color: #1f0322; color: #f1dede; position: relative; margin-left: -40px; margin-top: -50px; padding: 50px;">Mis Datos</h1>
    <div class="dark-section"></div>
    <div class="green-section"></div>
  </div>

  <div class="main-content" style="display: flex;">
    <div class="general-container">
      <button type="button" class="back-button" id="backToPrincipalBtn">
        <i class="bi bi-arrow-left-circle-fill" style="font-size: 1.5rem;"></i>
      </button>
      
      <div>
        <label for="registerName">Nombre Completo</label>
        <span id="nombre-completo"></span>
      </div>
      <div>
        <label for="registerName">Email</label>
        <span id="email"></span>
      </div>
      <div>
        <label for="registerName">Vehículo Principal</label>
        <span id="vehiculo-principal"></span>
      </div>
      <div> 
        <label for="registerName">Vehículos Secundarios</label>
        <ul id="vehiculo-secundario"></ul>
      </div>

      <div>
        <div style="display: flex; gap: 10%; margin-left: 10%; margin-top: 20%;">
          <a href="ediciondatos.html">
            <button type="button" class="button"> Editar </button>
          </a>
          <a>
            <input type="hidden" id="username" value="{{ username }}">
            <button type="button" class="button" data-username="{{ username }}" onclick="confirmarBorrado(this)">
                Borrar
            </button>
          </a>
        </div>
        <a href="principal.html">
          <button type="button" class="button">Página Principal</button>
        </a>
      </div>
    </div>
    
  </div>

  <script src="../static/js/misdatos.js">  </script>
  

</body>
</html>