<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis Datos</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../static/images/favicon.ico" sizes="16x16" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  <!-- Custom CSS -->
  <link href="../static/css/styles.css" rel="stylesheet">

</head>
<body>

  <div class="top-bar">
    <h1 style="background-color: #1f0322; color: #f1dede; position: relative; margin-left: -40px; margin-top: -50px; padding: 50px;">Mis Datos</h1>
    <div class="dark-section"></div>
    <div class="green-section"></div>
    <button id="logoutBtn" class="logout-button">Cerrar sesión</button>

  </div>

  <div class="main-content" style="display: flex; justify-content: center; align-items: center;">
    <div class="general-container">
      <button type="button" class="back-button" onclick="goBackToAdmin()">
        <i class="bi bi-arrow-left-circle-fill" style="font-size: 1.5rem;"></i>
      </button>
      <!-- Nombre Completo -->
      <div>
        <label class="form-label fw-bold">Nombre Completo:</label>
        <span id="nombre-completo" class="form-control-plaintext"></span>
      </div>
      
      <!-- Email -->
      <div>
        <label class="form-label fw-bold">Email:</label>
        <span id="email" class="form-control-plaintext"></span>
      </div>
      
      <!-- Teléfono -->
      <label class="form-label fw-bold">Teléfono:</label>
      <span id="telefono" class="form-control-plaintext"></span>

     <!-- Parking y Sectores asociados al administrador -->
      <!--<div>
        <label class="form-label fw-bold">Establecimiento:</label>
        <ul id="parkings" class="list-group list-group-flush">
      
        </ul>
      </div>

      <div>
        <label class="form-label fw-bold">Sectores:</label>
        <ul id="sectores" class="list-group list-group-flush">
        }
        </ul>
      </div>-->


      <div>
        <div style="display: flex; gap: 10%; margin-left: 10%; margin-top: 20%;">
          <a href="ediciondatosAdmin.html">
            <button type="button" class="button"> Editar </button>
          </a>
          <a>
            <input type="hidden" id="username" value="{{ username }}">
            <button type="button" class="button" style="background-color: red; color: white;" data-username="{{ username }}" onclick="confirmarBorrado(this)">
              Borrar
          </button>
          </a>
        </div>
        <a href="admin.html">
          <button type="button" class="button" style="width: 80%; margin-left: 15%;background-color: #2980b9; color: white" >Página Principal</button>
        </a>
      </div>
    </div>
    
  </div>

  <script src="../static/js/misdatosAdmin.js">  </script>
  

</body>
</html>