<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis Datos</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="../static/css/styles.css" rel="stylesheet">

</head>
<body background="../static/images/background.png">
<h1 style="color: white; position: absolute; left: 25px; margin-top: -650px;">Mis Datos</h1>
<ul style="color: black; list-style-type: none; padding-left: 0;">
  <div class="input-group">
    <label for="registerName">Nombre(s)</label>
    <input type="text" id="registerName" class="form-control" required>
  </div>
  <div class="input-group">
    <label for="registerName">Apellido(s)</label>
    <input type="text" id="registerSurname" class="form-control" required>
  </div>
  <div class="input-group">
    <label for="registerName">DNI/Pasaporte</label>
    <input type="text" id="passport" class="form-control" required>
  </div>
  <div class="input-group">
    <label for="registerName">Vehículo Principal</label>
    <input type="text" id="VP" class="form-control" required>
  </div>
  <div class="input-group">
    <label for="registerName">Vehículos Secundarios</label>
    <input type="text" id="VS" class="form-control" required>
  </div>
</ul>

<a href="ediciondatos.html">
  <button type="button" class="button" style="background-color: #45a049; position: absolute; top: 600px; left: 675px; width: auto;">Editar</button>

</a>

<button type="button" class="button" style="background-color: #FF1E1E; position: absolute; top: 600px; left: 765px; width: auto;"
        onclick="confirmarBorrado()">Borrar</button>


<a href="principal.html">
  <button type="button" class="button" style="background-color: #45a049; position: absolute; top: 650px; left: 680px; width: auto;">Página Principal</button>

</a>


<div class="container flex;"> </div>
<script>
  function confirmarBorrado() {
  const confirmacion = confirm("¿Estás seguro de que deseas borrar tu usuario?");
  if (confirmacion) {
    const dni = document.getElementById("passport").value;

    fetch('/borrar_usuario', {
      method: 'DELETE',  
      headers: {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + localStorage.getItem('token')  
      },
      body: JSON.stringify({ dni: dni })
    })
    .then(response => {
      if (response.ok) {
        alert("Usuario borrado.");
        window.location.href = "/";  // redirige a home o donde quieras
      } else {
        alert("Error al borrar el usuario.");
      }
    })
    .catch(error => {
      console.error("Error en la solicitud:", error);
      alert("Hubo un problema con la conexión al servidor.");
    });
  } else {
    alert("Operación cancelada. Tu usuario no fue borrado.");
  }
}

</script>


</body>
</html>