<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Bienvenido a la pagina principal!</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../static/images/favicon.ico" sizes="16x16" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<style>
    #notificaciones-container {
        position: absolute;
        top: 50px;
        right: 20px;
        width: 250px;
        background: white;
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        display: none; /* Oculto por defecto */
    }
    .hidden {
        display: none;
    }
</style>    
</head>
<body>
    
    <div class="top-bar">
        <h1 style="background-color: #1f0322; color: #f1dede; margin-bottom: -2%;">Página principal</h1>
        <div class="dark-section"></div>
        <div class="green-section"></div>
        <button id="logoutBtn" class="logout-button">Cerrar sesión</button>
        <button id="notificaciones">
            <i class="bi bi-bell-fill"></i>
        </button>
        <div id="notificaciones-container" class="hidden">
            <!-- Aquí se agregarán los mensajes -->
        </div>

    </div>

    <div class="main-content">
        <div class = "general-container">
            <div class="row">
                <!-- Columna izquierda con la imagen -->
                <div class="col-md-6 col-12 mb-4 mb-md-0 text-center">
                    <img src="../static/images/logo.png" alt="Logo" class="centered-image img-fluid" style="max-width: 250px; width: 90%;">
                </div>

                <!-- Columna derecha con los botones -->
                <div class="col-md-6 col-12">
                    <div class="container">
                        <div class="d-flex align-items-center mb-3">
                            <div class="me-3">
                                <img src="../static/images/parkingPorChocar.png" alt="parking" class="responsive-img menu-icon">
                            </div>
                            <div class="flex-grow-1">
                                <a href="cocheras.html">
                                    <button type="submit" class="button" style="background-color: #45a049;">Cocheras</button>
                                </a>
                            </div>
                        </div>

                        <div class="d-flex align-items-center mb-3">
                            <div class="me-3">
                                <img src="../static/images/advertencia.png" alt="parking" class="responsive-img menu-icon" style="margin-top: -10px; margin-bottom: -10px;"> 
                            </div>
                            <div class="flex-grow-1">
                                <a href="chat.html">
                                    <button type="button" class="button" style="background-color: #2980b9;">Chat</button>
                                </a>
                            </div>
                        </div>

                        <div class="d-flex align-items-center">
                            <div class="me-3">
                                <img src="../static/images/klipartz.com.png" alt="parking" class="responsive-img menu-icon">
                            </div>
                            <div class="flex-grow-1">
                                <a href="misdatos.html" style="text-decoration: none; display: block;">
                                    <button type="button" class="button" style="background-color: #9b59b6;">Mis Datos</button>
                                </a>
                            </div>
                        </div>
                        <a href="misMultas.html" style="text-decoration: none; display: block;">
                            <button type="button" class="btn btn-primary" style="background-color: red; border-color: red; margin-left: 40%;">Mis Infracciones</button>
                        </a> 
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../static/js/principal.js"></script>
    <script src="../static/js/generalscripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</body>

</html>