<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Bienvenido a la pagina principal!</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/styles.css" rel="stylesheet">
</head>
<body>

    <div class="top-bar">
        <h1 style="background-color: #1f0322; color: #f1dede; position: relative; margin-left: -40px; margin-top: -45px; padding: 50px;">¡Bienvenido a la página principal!</h1>
        <div class="dark-section"></div>
        <div class="green-section"></div>
        <button id="logoutBtn" class="logout-button">Cerrar sesión</button>
    </div>

    <div class="main-content">
        <!-- Título con fondo oscuro para mejor contraste -->
        <div class="container flex" style="position: relative; top: -20px; left: 0px;">
            <img src="../static/images/logo.png">
            <p>¡Hola! Bienvenido a la pagina principal. Aquí podrás ver el contenido que tenemos para ti. ¡Esperamos que disfrutes tu estancia en nuestra pagina!</p> 
        </div>
        <div class="container flex">
            <img src="../static/images/parkingPorChocar.png" alt="parking" class="responsive-img" style="width: 75px; height: auto; position: relative; top: -10px; left: 10px;">
            <button type="submit" class="button" style="background-color: #45a049; position: relative; top: 10px; left: -150px;">Cocheras Disponibles</button>
            <img src="../static/images/advertencia.png" alt="parking" class="responsive-img" style="width: 60px; height: auto; position: relative; top: 40px; left: 20px;">
            <button type="submit" class="button" style="background-color: #2980b9; position: relative; top: 55px; left: -150px;">Advertencias</button>
            <a href="misdatos.html">
                <img src="../static/images/klipartz.com.png" alt="parking" class="responsive-img" style="width: 75px; height: auto; position: relative; top: 80px; left: 10px;">
                <button type="button" class="button" style="background-color: #9b59b6; position: relative; top: 90px; left: -150px;">Mis Datos</button>
            </a>
        
        </div>
    </div>

    <script src="../static/js/principal.js"></script>

</body>

</html>
